body{
  margin: 0;
  background-color: #46464c;
  font-family: helvetica;
}
.pointerEventsNone{
    pointer-events: none;
}
/*tabs*/
.etabs-tabgroup {
    width: 100%;
    height: 24px;
    cursor: default;
    font: caption;
    font-size: 14px;
    user-select: none;
    padding: 0 144px 0 70px;
    box-sizing: border-box;
    -webkit-app-region: drag;
}
.etabs-tabs {
    counter-reset: section;
}
.etabs-tab {
    display: none;
    position: relative;
    color: #666;
    height: 22px;
    line-height: 22px;
    font: caption;
    background-color: #36363c;
    margin: 2px 2px 0 0;
    padding: 0 12px;
    border-radius: 6px 6px 0 0;
    -webkit-app-region: no-drag;
    box-sizing: border-box;
    counter-increment: section;
}
.login{
    position: absolute;
    top: 0px;
    right: 24px;
    display: flex;
    align-items: center;
    color: #fff;
    height: 24px;
    user-select: none;
}
.loginText{
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    font: caption;
    font-size: 10px;
    padding: 0 4px;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
}
/* Dragula */
.etabs-tab.gu-mirror {
    padding-bottom: 0;
}
.etabs-tab:first-child {
    border-left: none;
}
.etabs-tab.visible {
    display: inline-block;
    float: left;
}
.etabs-tab.active {
    background-color: #26262c;
    color: #fff;
    z-index: 1;
}
/* dragula??? */
.etabs-buttons {
    float: left;
}
.etabs-buttons button {
    float: left;
    color: #333;
    background: none;
    border: none;
    font-size: 12px;
    margin-top: 6px;
    border-radius: 2px;
    margin-left: 4px;
    width: 20px;
    text-align: center;
    padding: 4px 0;
}
.etabs-buttons button:hover {
    color: #eee;
    background-color: #aaa;
}
.etabs-message{
    float: left;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    height: 24px;
    user-select: none;
}
.messageText{
    font: caption;
    font-size: 10px;
    padding: 0 4px;
    box-sizing: border-box;
}
.etabs-tab-title {
    display: inline-block;
    font-size: 10px;
    max-width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
}
.etabs-tabs .etabs-tab:first-child .etabs-tab-title{
    -webkit-app-region: drag;
    max-width: 100%;
}
.etabs-tab-buttons {
    display: inline-block;
    float: right;
}
.etabs-tab-buttons button {
    display: inline-block;
    color: #666;
    background: none;
    border: none;
    width: 20px;
    text-align: center;
    width: 16px;
    height: 20px;
    font-size: 16px;
    outline: none;
}
.etabs-tab-buttons button:hover {
    color: #eee;
}
.etabs-views {
    height: calc(100vh - 24px);
    background-color: #26262c;
}
.etabs-tab:hover{
    background-color: #26262c;
}
.wait{
    position: fixed;
    top: 24px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.75);
}
.displayNone{
    display: none;
}
.loading_icon{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 21' style='enable-background:new 0 0 30 21;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%2300AEEF;%7D .st2%7Bfill:%23013A81;%7D .st3%7Bdisplay:none;%7D .st4%7Bdisplay:inline;%7D%0A%3C/style%3E%3Cg id='Layer_1'%3E%3Cg%3E%3Crect class='st0' width='30' height='21'/%3E%3Cg%3E%3Cg%3E%3Cpath class='st1' d='M13.7,6.6c-2.2,0.1-4.8,0.6-8,1.3l0,0c0.4,2.3,2.3,9.5,9.7,4.6C14.1,10.2,13.6,8.2,13.7,6.6z'/%3E%3Cpath class='st1' d='M21,7.6c0.7-0.7,1.3-1.5,2.1-2.4c-1.2-1.8-3-3.2-5.2-3.9c-1.9,0.9-3.9,2.5-4.2,5.3 C17.1,6.4,19.4,6.8,21,7.6z'/%3E%3Cpath class='st1' d='M21,7.6c-2.1,2.3-4,3.9-5.6,5c1,1.8,2.5,3.8,4.6,6.1c1.6-1,2.8-2.3,3.7-4C24.1,12.5,24.2,9.3,21,7.6z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st2' d='M24.6,10.3c0-1.9-0.6-3.6-1.5-5.1c-0.7,0.9-1.4,1.6-2.1,2.4c3.2,1.6,3.2,4.8,2.6,7.1 C24.3,13.4,24.6,11.9,24.6,10.3z'/%3E%3Cpath class='st2' d='M5.7,8c-0.2,0.9-0.4,1.8-0.3,2.7c0.1,5.3,4.5,9.5,9.8,9.4c1.7,0,3.4-0.5,4.8-1.4c-2.1-2.3-3.6-4.4-4.6-6.1 C8,17.4,6.1,10.3,5.7,8z'/%3E%3Cpath class='st2' d='M17.9,1.3c-1-0.3-2-0.5-3.1-0.4C10.5,1,6.8,4,5.7,8c3.2-0.8,5.8-1.2,8-1.3C13.9,3.8,16,2.2,17.9,1.3z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_2' class='st3'%3E%3Cg class='st4'%3E%3Crect class='st0' width='30' height='21'/%3E%3Cpath class='st1' d='M24.7,4H11.2L9.6,2.4H5.3c-0.6,0-1.1,0.5-1.1,1.1v14c0,0.6,0.5,1.1,1.1,1.1h19.4c0.6,0,1.1-0.5,1.1-1.1V5.1 C25.8,4.5,25.3,4,24.7,4z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Layer_3' class='st3'%3E%3Cg class='st4'%3E%3Crect class='st0' width='30' height='21'/%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpolygon class='st1' points='16.9,3.6 16.9,2.1 13.1,2.1 13.1,3.6 9.3,3.6 9.3,5.2 20.7,5.2 20.7,3.6 '/%3E%3Cpolygon class='st1' points='10.4,18.9 19.6,18.9 20.7,5.9 9.3,5.9 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    filter: hue-rotate(0deg);
    animation: hue 2s linear;
    animation-iteration-count: infinite;
}
@keyframes hue{
    from{filter: hue-rotate(0deg);}
    to{filter: hue-rotate(360deg);}
}