body{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0;
	
	background-color: #43434a;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	font-family: helvetica;

	/*****/

	display: grid;

	grid-template-columns: 24px 300px auto 60px auto 600px 24px;
	grid-template-rows: 24px auto 24px 450px 75px;

	/*justify-content: center;*/
	align-items: center;
}
.noDrag{
	-webkit-app-region: no-drag;
}
.titleBar{

	grid-column-start: 1;
	grid-column-end: 8;

	grid-row-start: 1;
	grid-row-end: 2;

	text-align: center;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.content{
	background-color: #1a1a1d;

	width: 100%;
	height: 100%;

	grid-column-start: 1;
	grid-column-end: 8;

	grid-row-start: 2;
	grid-row-end: 6;
}
.settings{

	display: grid;

	grid-template-columns: auto;
	grid-template-rows: 24px 24px 10px 24px 24px 10px 24px 24px 10px 24px 24px 10px 24px 24px 10px 24px 24px 10px;

	align-items: center;
	
	width: 100%;
	height: 100%;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
}
.heading{
	color: #00aeef;
	-webkit-user-select: none;
}
.headTitle{
	grid-row-start: 1;
	grid-row-end: 2;
}
input[type="text"][name="projectTitle"]{
	grid-row-start: 2;
	grid-row-end: 3;

	height: 24px;
	padding: 0 4px;

	border: none;
	outline: none;

	border-radius: 4px;

	color: #666;
	background-color: #26262c;
}
input[type="text"][name="projectTitle"]:focus{
	color: #000;
	background-color: #fff;
}
.headSave{
	grid-row-start: 4;
	grid-row-end: 5;
}
.saveLocation{
	grid-row-start: 5;
	grid-row-end: 6;
	width: 300px;
	height: 24px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	cursor: pointer;
	font-family: courier;
	font-size: 10px;
}
.saveLocation:hover{
	color: #fff;
}
.headCategory{
	grid-row-start: 7;
	grid-row-end: 8;
}
#selectCategory{
	grid-row-start:8; 
	grid-row-end:9;
}
.headStyle{
	grid-row-start: 10;
	grid-row-end: 11;
}
#selectStyle{
	grid-row-start:11; 
	grid-row-end:12;
}
.headMusic{
	grid-row-start: 13;
	grid-row-end: 14;
}
#selectMusic{
	grid-row-start:14; 
	grid-row-end:15;
}
.headTime{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
.headCopy{
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
}

select{
	border: none;
	outline: none;
	height: 24px;
	padding: 0 4px;
	border-radius: 4px;
	color: #666;
	background-color: #26262c;
}

textarea[name="prefill"]{
	width: 600px;
	height: 450px;

	grid-column-start: 6;
	grid-column-end: 7;

	grid-row-start: 4;
	grid-row-end: 5;

	line-height: 18px;

	border: none;
	outline: none;

	color: #666;
	background-color: #26262c;
	/*background-color: #43434a;*/

	white-space: nowrap;
	resize: none;

	border-radius: 4px;
}
textarea[name="prefill"]:focus{
	color: #000;
	background-color: #fff;
}

input[type="button"]{
	min-width: 60px;
	height: 22px;
	background-color: transparent;
	border: solid 1px #00aeef;
	color: #00aeef;
	border-radius: 11px;
	text-align: center;
	cursor: pointer;
}
input[type="button"]:hover{
	background-color: #00aeef;
	color: #fff;	
}